<div class="card">
    <h5 class="card-header"> 
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        {{'the more interactive' | title}}</h5>
        <ul class="list-group list-group-flush">
        
        {% for K, post in posts_most_comments %}
                <li class="list-group-item"> 
                    {% set linkimg = 'uploads/posts/' ~  post.image %}
                    <img src="{{ asset(linkimg) }}" class="img-fluid" alt="" width="20%">
                    <a href="{{ path('blog-show', {'id': post.id}) }}">
                        {{ post.title | slice(0,22) }} 
                    </a>
                    <br /> 
                    <i class="fa fa-comments-o"></i> {{ post.occ }}
                                                                    
                </li>
        {% endfor %}                               
        </ul>
</div>