{% extends "base.html.twig" %} 


{% block header %}
    
    <!-- Page Header
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>New Post</h1>
                            <h2 class="subheading"></h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                    on {{ "now" | date("F jS \\a\\t g:ia") }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        -->
{% endblock %}

{% block body %}

        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h3 class="my-2">New Post</h3>

                        {{ form_start( mForm ) }}
                                <div class="form-group ">
                                    <label for="title"></label>
                                    {{ form_row( mForm.title, { 'attr': {'class': 'form-control'}} )}}
                                </div>

                                <div class="form-group">
                                    <label   for="category"></label>
                                     {{ form_row( mForm.category, { 'attr': {'class': 'form-control'}} )}}
                                </div>

                                <div class="form-group">
                                    <label   for="category"></label>
                                     {{ form_row( mForm.image, { 'attr': {'class': 'form-control'}} )}}
                                </div>

                                <div class="form-group">
                                    <label    for="content"></label>
                                     {{ form_row( mForm.content, { 'attr': {'class': 'form-control', 'rows': '4'}} )}}
                                </div>

                                    {{ form_widget( mForm.create, { 'attr': {'class': 'btn btn-primary btn-block'}} )}}
                        {{ form_end( mForm ) }}       

                    </div>
                </div>
            </div>
        </article>
       
     {% endblock %}