{% extends "base.html.twig" %} 


{% block breadcrumb %}
 <div class="container">
    <div class="row mt-2">
        <div class="col-md-10">
            <ol class="breadcrumb p-3">
                    <li><a class="text-primary" href="{{ path('blog-index')}}">Home</a>&nbsp;|&nbsp;</li>
                    <li><a class="text-primary" href="{{ path('blog-my-posts')}}">My Posts</a>&nbsp;|&nbsp;</li>
                    <li><span class="text-dark active" > new Post </span></li>
            </ol>
        </div>
        <div class="col-md-6"> </div>
    </div>
 </div>
{% endblock %}



{% block body %}

        <!-- Post Content-->
        <article class="my-2">
            <div class="container">
                <div class="row ">
                    <div class="col-md-10 ">
                        <h3 class="my-2">New Post</h3>

                        {{ form_start( mForm ) }}
                                <div class="form-group ">
                                    <label for="title"></label>
                                    {{ form_row( mForm.title, { 'attr': {'class': 'form-control'}} )}}
                                </div>

                                <div class="form-group">
                                    <label   for="category"></label>
                                     {{ form_row( mForm.category, { 'attr': {'class': 'form-control'}} )}}
                                </div>

                                <div class="form-group">
                                    <label   for="category"></label>
                                     {{ form_row( mForm.image, { 'attr': {'class': 'form-control'}} )}}
                                </div>

                                <div class="form-group">
                                    <label    for="content"></label>
                                     {{ form_row( mForm.content, { 'attr': {'class': 'form-control', 'rows': '4'}} )}}
                                </div>

                                    {{ form_widget( mForm.create, { 'attr': {'class': 'btn btn-primary btn-block'}} )}}
                        {{ form_end( mForm ) }}       

                    </div>
                </div>
            </div>
        </article>
       
     {% endblock %}