{% extends "base.html.twig" %} 

{% block header %}
     <!-- Page Header
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start PROSTAM</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>-->
{% endblock %}



{% block body %}
    
        <!-- Main Content-->
        <div class="container  my-2">
            <div class="row">
            {% if posts_sum > 0  %}
                    <h1> List Posts </h1>
                        <div class="col-md-3">                         
                            <div class="card">
                                <h5 class="card-header"><i class="fa fa-list"></i>
                                            Categories</h5>
                                    <ul class="list-group list-group-flush">

                                        <li class="list-group-item"> 
                                            <a href="{{ path('blog-index') }}">
                                             {{ 'All' }}  
                                             <span class="badge badge-info">
                                                 {{ posts_sum }}
                                             </span>
                                            </a>
                                        </li>
                                        <!--  Show List categories :  -->
                                             {% include "blog/components/categories.html.twig" %}
                                    </ul>
                            </div>
                          
                        </div>
                        <div class="col-md-6">
                                {% for post in posts  %}
                                    <!-- Post preview-->
                                    
                                    {% include "blog/components/post.html.twig" %}
                                        
                                     <!-- Divider-->
                                    <hr class="my-4" />
                                {% endfor %}
                            
                            <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>  -->
                            <nav aria-label="Page navigation">
                                    {{  knp_pagination_render(posts) }}
                            </nav>
                        </div>

                {% if posts_interactive | length > 0 %}
                        <div class="col-md-3">
                            <div class="card">
                                <h5 class="card-header"> 
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                    {{'the more interactive' | title}}</h5>
                                    <ul class="list-group list-group-flush">
                                    
                                    {% for K, post in posts_interactive %}
                                            <li class="list-group-item"> 
                                                {% set linkimg = 'uploads/posts/' ~  post.image %}
                                                <img src="{{ asset(linkimg) }}" class="img-fluid" alt="" width="20%">
                                                <a href="{{ path('blog-show', {'id': post.id}) }}">
                                                    {{ post.title | slice(0,22) }} 
                                                </a>
                                                <br /> 
                                                <i class="fa fa-comments-o"></i> {{ post.occ }}
                                                                                              
                                            </li>
                                    {% endfor %}                               
                                    </ul>
                            </div>
                        </div>
                {% endif %}
            {% else %}

            <div class="container-md">
                <div class="row  my-4">
                    <div class="col-md-6  mx-auto">
                        <h1> {{'there are no articles' | title}} !</h1>
                        <div>
                            <p>
                                We invited to create an article 
                                <a href="{{ path('blog-create')}}"> 
                                    <span class="badge badge-primary"> New Article </span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                
            {% endif %}
            </div>
        </div>
        

{% endblock %}



{% block javascripts %}
   <script src="{{ asset('js/blog/getPosts.js') }}"> </script>
{% endblock %}