{% extends "base.html.twig" %} 

{% block header %}
     <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start PROSTAM</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}


{% block body %}
    
          <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">


            {% if posts  %}
                    <h1> List Posts </h1>
                        <div class="col-md-3 my-3">
                            
                            <div class="card">
                                <h5 class="card-header">Categories {{ cate }}</h5>
                                    <ul class="list-group list-group-flush">
                                    {% for category in categories %}
                                    
                                            <li class="list-group-item"> 
                                                <a href="?category={{ category.name  }}">
                                                 {{ category.name }}  ({{ category.count }})
                                                </a>
                                            </li>
                                    {% endfor %}
                                    </ul>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-6 col-xl-7">
                                {% for post in posts  %}
                                    <!-- Post preview-->

                                        {% set linkimg = 'assets/img/posts/p' ~ (post.id) ~ '.jpg'%}

                                        <img src="{{ asset(linkimg) }}" class="img-fluid" alt="">

                                        <div class="post-preview">
                                            <a href=" {{ path('blog-show', {'id': post.id})}}">
                                                <h2 class="post-title">{{ post.title}} </h2>
                                            </a>
                                                <h5 class="post-subtitle"> {{ post.content | slice(0, 77) }}...</h5>
                                            <p class="post-meta">
                                                Posted by
                                                <a href="">{{ post.user.username}}</a>
                                                on {{ post.published | date('d M  Y') }}
                                            </p>
                                        </div>
                                        <!-- Divider-->
                                        <hr class="my-4" />
                                {% endfor %}
                            
                            <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>  -->
                            <nav aria-label="Page navigation">
                                    {{  knp_pagination_render(posts) }}
                            </nav>
                        </div>

                        <div class="col-md-2">
                            <h3>last Artiles</h3>
                            <ul>
                            {% for category in categories %}
                               
                                    <li> 
                                        <a href=""> {{ category.name }}  ({{ category.count }})</a>
                                    </li>
                            {% endfor %}
                            </ul>
                        </div>
            {% else %}
                 <h3> there are no articles !!</h3>
                 <div>
                    <p>
                      We invited to create an article
                        <a href="{{ path('blog-create')}}"> New Article </a>
                    </p>
                 </div>
                
            {% endif %}
            </div>
        </div>
        
   <a id="loadstudent" href="#student">Load student information</a>  
   </br> 
   </br>  
   
   <table class = "table">  
      <tbody id="student"></tbody>  
   </table>   


   <div class="card" style="width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
{% endblock %}



{% block javascripts %}
   <script src="{{ asset('js/blog/getPosts.js') }}"> </script>
{% endblock %}