{% extends "base.html.twig" %} 

{% block header %}
     <!-- Page Header
        <header class="masthead" style="background-image: url('assets/img/post/p11.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start PROSTAM</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>-->
{% endblock %}


{% block body %}
    
          <!-- Main Content-->
        <div class="container">
            <div class="row">

            {% if posts  %}
                    <h2> My List Posts </h2>

                    <div class="col-md-3 my-3 mx-3">          
                            <div class="card">
                                <h5 class="card-header"><i class="fas fa-list"></i>
                                            Categories</h5>
                                    <ul class="list-group list-group-flush">

                                        <li class="list-group-item"> 
                                            <a href="{{ path('blog-my-posts') }}">
                                            {{ 'All' }}  
                                            <span class="badge badge-info">
                                                {{ count_my_posts }}
                                            </span>
                                            </a>
                                        </li>
                                        <!--  Show List categories :  -->
                                             {% include "blog/components/categories.html.twig" %}
                                    </ul>
                            </div>
                        </div>

                        <div class="col-md-8">
                                {% for post in posts %}
                                    <!-- Post preview-->
                                       
                                    {% include "blog/components/post.html.twig" %}     
                   
                                    <!-- Divider-->
                                    <hr class="my-4" />
                                {% endfor %}
                            
                             <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>  -->
                            <nav aria-label="Page navigation">
                                    {{  knp_pagination_render(posts) }}
                            </nav>
                        </div>
            {% else %}
                 <h3> there are no articles !!</h3>
                 <div>
                    <p>
                      We invited to create an article
                        <a href="{{ path('blog-create')}}"> New Article </a>
                    </p>
                 </div>
                
            {% endif %}
            </div>
        </div>
        
{% endblock %}
