{% extends "base.html.twig" %} 


{% block header %}
    
    <!-- Page Header
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ post.title }}</h1>
                            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on {{ post.published | date('d M  Y') }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>-->
        
{% endblock %}
    

{% block body %}

        <!-- Post Content-->
        <article class="my-4">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="card mb-3">
                        <img class="card-img-top" src="{{ asset('uploads/posts/' ~ post.image ) }}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text"> {{ post.content }}</p>
                        <p class="card-text"><small class="text-muted">On {{ post.published | date('d M  Y') }} </small></p>
                        </div>
                        {% if post.user == app.user %}
                    
                            {% include "blog/components/postActions.html.twig" %}     

                        {% endif %}
                    </div>
                </div>
            </div>
        </article>

       
       
       
       
     {% endblock %}