    
{% if post %}
        {% set linkimg = 'assets/img/posts/p' ~ (post.id%11) ~ '.jpg'%}

        <div class="card" >
                <img class="card-img-top" src="{{ asset(linkimg) }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> 
                         <a class="text-primary" href="{{ path('blog-show', {'id': post.id})}}">
                             {{ post.title | title }}
                        </a>
                    </h5>
                    <p class="card-text">{{ post.content | slice(0, 177) }}... 
                        <a class="text-primary" href="{{ path('blog-show', {'id': post.id})}}">More</a></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">On {{ post.published | date('d M  Y') }}  </li>
                    <li class="list-group-item">
                         <span class="badge badge-primary">
                             Auther: {{ post.user.username}}
                         </span>
                    </li>
                </ul>
                {% if  post.user == app.user %}
                    
                    {% include "blog/components/postActions.html.twig" %}     

                {% else %}
                 <div class="card-body">
                    <a class="card-link text-primary"  href="#"> <i class="far fa-thumbs-up"></i>10 likes</a>
                    <a class="card-link text-dark"  href="#"> <i class="far fa-comments"></i> </a>
                    <a class="card-link text-dark"  href="#">  <i class="fas fa-share-alt"></i> </i> </a>
                </div>

                {% endif %}
        </div>
{% endif %}

