    
{% if post %}
        {% set linkimg = 'assets/img/posts/p' ~ (post.id%11 + 1) ~ '.jpg'%}

        <div class="card" >
                <img class="card-img-top" src="{{ asset(linkimg) }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> 
                         <a class="text-primary" href="{{ path('blog-show', {'id': post.id }) }}#post">
                             {{ post.title | title }}
                        </a>
                    </h5>
                    <p class="card-text">{{ post.content | slice(0, 177) }}... 
                        <a class="text-primary" href="{{ path('blog-show', {'id': post.id }) }}#post">More</a></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">On {{ post.published | date('d M  Y') }}  </li>
                    <li class="list-group-item">
                         <span class="badge badge-primary">
                             Auther: {{ post.user.username}}
                         </span>
                    </li>
                </ul>
                    
                <!-- Show Action , {like, comment, share .... edit, delete }-->
                {% include "blog/components/postActions.html.twig" %}     

              
        </div>
{% endif %}

