<header>
	<!--- Navbar --->
	<nav id="headnev" class="navbar navbar-expand-lg navbar-default navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand text-white" href="{{ path('blog-index')}}"><i class="fa fa-graduation-cap fa-lg mr-2"></i>BLOG</a>
             {% if app.user %}
                <span class="nav-link text-warning" ><i class="fas fa-user-alt fa-fw mr-1"></i>{{ app.user.username }}</span>
            {% endif %}
            
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="nvbCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item pl-1">
						<a class="nav-link" href="{{ path('blog-index')}}"><i class="fa fa-home fa-fw mr-1"></i>Blog</a>
					</li>
					
					<li class="nav-item pl-1">
						<a class="nav-link" href="#"><i class="fa fa-info-circle fa-fw mr-1"></i>About</a>
					</li>
					<li class="nav-item pl-1">
						<a class="nav-link" href="#"><i class="fa fa-phone fa-fw fa-rotate-180 mr-1"></i>Contact</a>
					</li>

                    {% if app.user %}
                        <li class="nav-item pl-1">
                            <a class="nav-link text-warning" href="{{ path('blog-my-posts')}}"><i class="fas fa-book fa-fw mr-1"></i>My Posts</a>
                        </li>
                        <li class="nav-item pl-1">
                            <a class="nav-link text-warning" href="{{ path('blog-create')}}"><i class="fas fa-edit fa-fw mr-1"></i>New post</a>
                        </li>
                        
                        <li class="nav-item pl-1">
                            <a class="nav-link text-dark" href="{{ path('security_logout')}}"><i class="fas fa-sign-out-alt fa-fw mr-1"></i>Logout</a>
                        </li>
                        

                    {% else %}
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="{{ path('security_registration')}}"><i class="fa fa-user-plus fa-fw mr-1"></i>Sign in</a>
                        </li>
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="{{ path('security_login')}}"><i class="fas fa-sign-in-alt fa-fw mr-1"></i>Login</a>
                        </li>
                    {% endif %}
					
				</ul>
			</div>
		</div>
	</nav>
	<!--# Navbar #-->
	</header>

<!-- Navigation
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{ path('blog-index') }}">Start PROSTAN</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html">About</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
-->